.bus-layout {
    display: flex;
    flex-wrap: wrap;
    width: 240px; 
    margin: auto;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    margin: auto;
    padding: 20px;
    border: 2px solid #000;
    margin-top: 90px;
    border-radius: 10px; 
    height: 540px;
    max-width: max-content;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .seat.selected { 
    background-color: #4CAF50;
  }
  
  .passenger-count {
    margin-top: 20px;
    text-align: center;
  }

  .book-seats-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  .seat.booked {
    background-color: #FF6347; 
    cursor: not-allowed;
  }
  
  
  
  